body{
	background-image:url(../../images/bg.jpg);
	background-color:#0d253f;
	background-repeat:no-repeat;
}
#wrapper{
	width:960px;
	margin:0 auto;
}
.logo{
	width:420px;
	height:155px;
	background-image:url(../../images/logo.png);
	float:left;
}
#banner{
	clear:both;
	height:200px;
	display:block;
}
#menu {
	width:650;
	background:url(../../images/menu.png);
	color:#FEFEFE;
	display:block;
	font-family:"georgia";
	font-size:19px;
	height:44px;
	padding-left:8px;
	padding-right:8px;
	padding-top:25px;
	text-align:center;
	text-transform:uppercase;
	float:right;
	-moz-border-radius:10px 10px 0px 0px;
	margin-top:20px;
}
#menu li{
	float:left;
	list-style:none;
	margin:0px 5px;
}
#menu li a{
	color:#ffffff;
	text-decoration:none;

}
#menu li a:hover{
		text-decoration:underline;
}
#contentPart{
	width:560px;
	display:block;
	overflow:hidden;
	display:block;
	float:right;
	background:#FFFFFF;
	-moz-border-radius:20px 0px 20px 0px;
	padding:20px;
	z-index:1000;
}
.late{
	width:450px;
	height:355px;
	background-image:url(../../images/final-late.png);
	position:absolute;
	margin-left:-100px;
}
.late:hover{
	background-image:url(../../images/final-late2.png);
	cursor:pointer;
}
/************* Form****************************/
.txtBox{
	padding:3px;
	height:24px;
	background-image:url(../../images/txt.jpg);
	background-repeat:repeat-x;
	border:1px solid #999999;
	-moz-border-radius:5px;
	font-family:arial;
	font-size:16px;
}
.txtBox:hover{
	border-color:#333333;
}
.txtHolder{
	width:135px;
	text-align:right;
	height:30px;
	display:inline-block;
}
.create{
	background-color:#0a8acc;
	padding:10px 10px 10px 25px ;
	border:#0ea3f0 1px solid;
	-moz-border-radius:5px;
	color:#ffffff;
	background-image:url(../../images/create.png);
	background-repeat:no-repeat;
	background-position:0.3em;
}
.create:hover{
	background-color:#044d73;
}
.space{
	height:15px;
	display:block;
	overflow:hidden;
}
