@charset "UTF-8";
@charset "UTF-8";
/* line 6, ../../app/stylesheets/_text.sass */
body {
  font: 14px/1.4em 'Lucida Grande',Verdana,Arial,sans-serif;
}

/* line 8, ../../app/stylesheets/_text.sass */
a:focus {
  outline: 1px dotted invert;
}

/* line 10, ../../app/stylesheets/_text.sass */
hr {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

/* line 16, ../../app/stylesheets/_text.sass */
h1 {
  font-size: 25px;
}

/* line 18, ../../app/stylesheets/_text.sass */
h2 {
  font-size: 23px;
}

/* line 20, ../../app/stylesheets/_text.sass */
h3 {
  font-size: 21px;
}

/* line 22, ../../app/stylesheets/_text.sass */
h4 {
  font-size: 19px;
}

/* line 24, ../../app/stylesheets/_text.sass */
h5 {
  font-size: 17px;
}

/* line 26, ../../app/stylesheets/_text.sass */
h6 {
  font-size: 15px;
}

/* line 28, ../../app/stylesheets/_text.sass */
ol {
  list-style: decimal;
}

/* line 30, ../../app/stylesheets/_text.sass */
ul {
  list-style: square;
}

/* line 32, ../../app/stylesheets/_text.sass */
li {
  margin-left: 30px;
}

/* line 34, ../../app/stylesheets/_text.sass */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 15px;
}

@font-face {
  font-family: "Museo 300";
  src: local("☺"), url(/fonts/Museo300-Regular.otf) format('opentype');
}

@font-face {
  font-family: "Museo 500";
  src: local("☺"), url(/fonts/Museo500-Regular.otf) format('opentype');
}

@font-face {
  font-family: "Museo 700";
  src: local("☺"), url(/fonts/Museo700-Regular.otf) format('opentype');
}

/* line 22, ../../app/stylesheets/style.sass */
a {
  color: #0388a6;
}
/* line 18, ../../../../.rvm/gems/ruby-1.8.7-head/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #0388a6;
}
/* line 22, ../../../../.rvm/gems/ruby-1.8.7-head/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: #0388a6;
}
/* line 26, ../../../../.rvm/gems/ruby-1.8.7-head/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: #009ce0;
}
/* line 30, ../../../../.rvm/gems/ruby-1.8.7-head/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #0388a6;
}

/* line 25, ../../app/stylesheets/style.sass */
body {
  background-color: #fbf1d6;
  font-family: "Museo 300";
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0px;
}
