<h2>About Us</h2>
<p>TheLateJar is an ontime office web application to track the employee arrivals. If the employees arrive late then certain amount is charged as contributions which could later used for some fun activities among themselves. This helps employees to be on time in a fun way.</p>

<p>This web application was developed during the <%= link_to 'Hackmandu', 'http://www.hackmandu.com' %> event sponsored by <%= link_to 'Sprout Technology', 'http://sprout-technology.com' %> on 29-30th October. Keeping with the spirit of Hackathon, it was a great event spanning 32 hours and everyone stood up & above their standards. It was quite new to us, fun and challenge. The Late Jar Team consists of Ranendra Adhikari (@ardnenar) and Saroj Maharjan (@zoraslapen) all led by rails guru - Sachin Sagar Rai (@millisami) backed up by our designer Roshan Subba (wizard of brushes & colors).</p>



